# Created by .ignore support plugin (hsz.mobi)
bunny.py
env
.env
__pycache__
.idea
.vscode
config.json
/__pycache__/
config.txt
*.log
*.sqlite3
*.sqlite3-journal
env.bat
*.sqlite
*.exe
*.wav
logs
foo.txt
dist
build
bunny
out
raccy_utils.egg-info
.mypy_cache